@media  screen and (max-width: 1640px){
header .menu-desktop {
   display: none;
}
.menu-desktop  i{
  display: none;
}
#header{
    margin: 0;
    height: 20vh;
}
/* menu-mobile */
header .menu-mobile-icon {
    display: block;
    margin-left: 250px;
}
.menu-mobile-icon{
    position: relative;
    z-index: 99999999;
}
.menu-mobile-icon button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
header .menu-mobile{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;
    transition: .5s;

}
.menu-mobile nav{
  width: 100%;
}
.menu-mobile nav ul{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu-mobile li a{
    display: block;
    text-decoration: none;
    font-size: 24px;
    padding-top: 30px;
    color: white;
}
.menu-mobile li{
    width: 100%;
}

.menu-mobile li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 20px #ffff;

}
 header .menu-mobile.open{
    width: 100%;
    height: 100vh;
 }
/* Scroll menu Js */
header.rolar{
    background-color: rgba(211, 211, 211, 0.753);
    padding: 20px 0;
}

}

@media  screen and (max-width: 1640px){
/* sobre a empresa */
section#sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    color: #f8ce74;
    position: relative;
}
#sobre h1{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 80px;
}
#sobre h3{
    color: white;
    font-size: 16px;
    width: 280px;
    margin-bottom: 400px;
    margin-left: 25px;
    line-height: 30px;
}
#sobre h3 p{
    color: #f8ce74;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 120px;
}
/* Música */
.programacao {
    margin-top: 50px;
    margin-left: 0px;
}
.programacao h1{
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    
}
.programacao h1 span{
    display: none;
}
.programacao h1 i{
    font-size: 50px;
}
.programacao p{
    width: 260px;
    margin-left: 30px;
    line-height:30px;
    font-size: 16px;
}
.img-horario img{
    display: none;
}
.img-horario p{
    font-family: "Great Vibes", cursive;
    font-size: 20px;
    margin-top: 550px;
    margin-left: -220px;
    font-weight: 400;
}
.img-horario p i{
    font-size: 20px;
    margin-left: 20px;
}
.img-horario img{
  display: none; 
}
/* horario de funcionamento */
#funcionamento .titulo h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 130px;
    margin-left: 80px;
    line-height: 30px;
    
}

#funcionamento .titulo p{
    font-family: "Great Vibes", cursive;
    color: white;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px; 
    line-height: 15px;
}
#funcionamento #horas h2{
    font-size: 16px;
    margin-bottom: 120px;
}
#horas h2 i{
    color: #f8ce74;
    margin-right: 40px;
    font-size: 40px;
}
#horas h2 p{
    font-size: 18px;
    text-align: center;
}

/* menu cardapio */
.imagem-cardapio img{
    display: none;
}
section#cardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}
.imagem-cardapio img{
    display: none;
}
.imagem-cardapio .absolute img{
    display: none;
}
article h1{
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 10px; 
}
article h1 span{
    display: none;
}
article p{
    width: 300px;
    font-size: 16px;
    margin-left: 50px;
    text-align: justify;
}
article button{
    margin-top: 90px;
}

/* Eventos */
#eventos p{
    width: 300px;
    font-size: 16px;
    margin-top: 30px;
    line-height: 25px;
}
#eventos h1{
    font-size: 2em;
}
#eventos button{
    margin-top: 80px;
    font-size: 18px;
} 

/* logo */
.logo{
    height: 90px;
}
.logo p{
    display: none;
}
section.logo img{
    cursor: pointer;
    width: 60px;
    margin-top: 30px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}
/* Bem vindo */
.bem-vindo{
    height: 300px;
}
.bem-vindo img{
    width: 160px;
    height: 180px;
    margin-right: 150px;
    margin-top: 120px;
}
.bem-vindo .vinho-branco{
    margin-left: 160px;
    margin-top: -200px;
}
.bem-vindo p{
   display: none;
}

/* rodapé */
footer {
    color: white;
}
.local{
    padding-top: 100px;
    padding-left: 50px;
}
.local h1{
     font-family: "Great Vibes", cursive;
     font-size: 2em;
     font-weight: 100;
}
.local p{
    font-size: 18px;
}
.local p i{
    font-size: 25px;
}
footer h2{
     font-size: 2em;
    margin-top: 25px;
}

/* menu cardapio*/
header{
    width: 100%;
}
header #logotipo h1{
    margin-top: 30px;
    font-size: 2em;
     
}
/* cartaz */
section.cartaz{
    width: 100%; 
}
.cartaz h1{
    font-size: 1.5em;
    margin-left: 200px;
    padding-top: 20px;
}
/* nome */
.nome h1{
   margin-left: 10px;
   font-size: 24px;
   margin-top: 20px;
   text-decoration: underline;
}
/* Opção do menu */
.opcao{
    cursor: pointer;
    width: 100%;
    height: 200px;
    margin-left: 10px;
    display: flex;
}
.opcao .conteudo{
    width: 90px;
    height: 80px;
}
.conteudo h1{
    font-size: 16px;
    padding-top: 30px;
}
.opcao .conteudo01{
    width: 90px;
    height: 80px;
     margin: 0 20px;
}
.conteudo01 h1{
    font-size: 16px;
    padding-top: 30px;
}
.opcao .conteudo02{
   width: 90px;
    height: 80px;
}
.conteudo02 h1{
    font-size: 16px;
    padding-top: 30px;
}

/* sub menu cardapio*/
.sub-menu nav ul {
    margin-left: 10px;
}

.sub-menu li{
    padding: 5px;
}
.sub-menu li a{
    font-size: 16px; 
}

/* Cardapio */
#sobremesa{
    cursor: pointer;
    margin-left: 10px;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-top: 750px;
   
}
#sobremesa h1{
    font-size: 1em;
    margin: 30px 0;
    padding-left: 20px;
}
#principais{
    cursor: pointer;
    margin-left: 10px;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-top: 750px;
}
#principais h1{
   font-size: 1em;
    margin: 30px 0;
}
#entradas{
    cursor: pointer;
    margin-left: 10px;
    justify-content: center;
    width: 100%;
    height: 60vh;
}
#entradas h1{
  font-size: 1.5em;
}
.cardapio {
  display: flex;
  flex-direction: column;
  gap: 15px; /
}

.item {
  display: flex;
  align-items: center; 
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.item img {
  width: 100px; 
  height: 90px;
  object-fit: cover; 
  border-radius: 8px;
  margin-right: 12px;
  transition: transform 0.3s ease;
}

.detalhes {
  flex: 1; 
}
.preco {
 font-size: 16px;
}

/* Vinhos */
#vinho-tinto{  
    margin-left: 10px;
    width: 100%;
}
#vinho-tinto h1{
   font-size: 1em;
}
#vinho-branco{
    margin-top: 700px;
    margin-left: 10px;
    width: 100%;
}
#vinho-branco h1{
   font-size: 1em;
}
#espumantes{
  margin-top: 500px;
  margin-left: 10px;
  width: 100%;
}
#espumantes h1{
   font-size: 1em;
}
.item img {
  width: 100px; 
  height: 90px;
}
.preco {
  font-size: 16px;
}

/* DRINKS */
#drinks-autorais{
    margin-left: 10px;
    width: 100%;
}
#drinks-autorais h1{
    font-size: 1em;
}
#drinks-classico{
  margin-left: 10px;
  margin-top: 750px;
  width: 100%;
  
}
#drinks-classico h1{
   font-size: 1em;
}
#cervejas{
    margin-top: 500px;
    margin-left: 10px;
    width: 100%;
}
#cervejas h1{
  font-size: 1em;
}
.item img{
  width: 100px; 
  height: 90px;
}

/* menu-wpp */
footer{
    background-color: #111B21;
    width: 100%;
    height: 80vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 50px;  
}
header .menu-wpp{
    display: none;
}
header .logo-wpp a{
    display: none;
}
.rodape-wpp a{
  display: none;
}
.rodape-wpp .baixar button{
   display: none;
}
.container li h3{
    display: none;
}
.informacoes-footer{
    margin-top: -300px;
}
.caixa{
    display: flex;
    flex-direction: column-reverse;
   
}
.caixa p{
    color: white;
    font-size: 30px;
    margin-right: 35px;  
}
.redes-sociais a i{
    color: white;
    font-size: 30px;
    padding-right: 30px;
}
header .btn-wpp {
    margin-right: 50px;
}


}
